<%- include('header') %>
<div class="result">
  <% if (error) { %> <%= error %> <% } else { %> Seus US$<%=quantity%> na
  cotação R$<%=quotation%> <br /><br />
  Total R$<%=convertion%> <% } %>
</div>
<%- include('footer') %>
